<body style="font-family: Arial, Helvetica, sans-serif;color: #333; padding: 1rem 1rem;">
  <p>Dear <%= name %></p>
  <p>Thanks for signin up for Nice App.</p>

  <p>Here You are account details</p>
  <ul style="list-style: decimal;">
    <li>Email: <%= email %></li>
    <li>login URL: <%= loginUrl %></li>
  </ul>

  <p>Thanks!</p>
  <p>NestJS Blog support</p>
</body>