<p>Dear <%= name %></p>
<p>
  Thanks for signin up for Nice App.
</p>

<p>Here You are account details</p>
<ul>
  <li>Email: <%= email %></li>
  <li>loginUrl: <%= loginUrl %></li>
</ul>

<p>Thanks!</p>
<p>NestJS Blog support</p>